* {
    list-style: none;
    text-decoration: none;
}

.line-height {
    line-height: 1.9rem;
}

.services {
    /* transform: scale(0.99); */
    transition: 0.2s linear all;
}

.services:hover {
    box-shadow: 10px 10px 30px rgb(193, 191, 191);
}

.text-color {
    color: #fa7070;
}

.explore-btn {
    background-color: white;
    border: 1px solid #fa7070;
    border-radius: 30px;
    color: #fa7070;
    font-weight: 600;
    transition: 0.4s all linear;
}

.explore-btn:hover {
    background-color: #fa7070;
    color: white !important;
}

header .navbar {
    background-color: #fa8070 !important;
}

.main {
    background-color: #fa8070;
}

.promotion-img {
    margin-bottom: -100px;
}

#ourService {
    padding-top: 100px;
}

.text {
    position: relative;
}

.text::after {
    content: '';
    position: absolute;
    width: 0;
    border: 1px solid white;
    bottom: 0;
    right: 0;
    visibility: hidden;
    transition: 0.4s all;
}

.text:hover::after {
    cursor: pointer;
    /* color: rgb(225, 20, 20); */
    width: 80%;
    left: 0;
    visibility: visible;
}

.padding{
    padding: 80px;
}

.input{
    background: transparent;
    border: 0;
    border-bottom: 1px solid white;
    width: 80%;
    color: white !important;
}

.input::placeholder{
    color: white;
}

.input:focus{
    background: transparent;
    box-shadow: none !important;
    border-bottom: 1px solid white;
}

@media (max-width: 500px) {
    .padding{
        padding: 20px;
    }
}

footer{
    background-color: #fdf8f8;
}

.footer-info ul li{
    color: #797687;
    font-weight: 600;
    line-height: 40px;
    font-size: 16px;
}

.color-footer{
    color: #797687;
    font-weight: 600;
    line-height: 37px;
    font-size: 16px;
}