*{
    list-style: none;
    text-decoration: none;
}

.line-height{
    line-height: 1.9rem;
}

.services{
    /* transform: scale(0.99); */
    transition: 0.2s linear all;
}

.services:hover{
    box-shadow: 10px 10px 30px rgb(193, 191, 191);
}

.text-color{
    color: #fa7070; 
}

.explore-btn{
    border: 1px solid #fa7070;
    border-radius: 30px;
    color: #fa7070;
    font-weight: 600;   
}

.explore-btn:hover{
    background-color: #fa7070;
    color: white;
}